img {
    max-width: 100%;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-size: large;
    background-image: url('../images/Hero-bg.png');
    margin-right: 2px;

}

.logo {
    font-size: 1.4rem;
    font-weight: 800;
    color: blue;
    text-decoration-line: none;

}

button {
    display: inline-block;
}

.button_top {
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.button_top :hover {
    background-color: black;
}

.bannar-title {
    font-size: 2rem, 4vw + 1rem, 3rem;

}

.banner {
    background-image: url('../images/Hero-bg.png');
    text-align: center;
    padding: 7rem 6vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.button_head {
    background-color: blue;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: smaller;
}

.action {
    display: grid;
    gap: 3rem;
    grid-template-columns: minmax(280px, 1fr);
    align-items: center;
    display: flex;
    margin-top: 10%;
    padding: 5rem 6vw;
}

.action_text h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.action_media img {
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.users {
    background-color: whitesmoke;
    text-align: center;
    padding: 4rem 6vw;
}

.user h2 {
    margin-bottom: 2.5rem;
}

.users_stats {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.users_stats li {
    text-align: center;
}

.numbers {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    color: blue;
}

.label {
    color: #555;
}

.contact {
    display: grid;
    gap: 3rem;
    align-items: start;
    padding: 5rem 6vw;
    grid-template-columns: repeat() minmax(280px);
}

.contact_title h2 {
    font-size: 2.2rem;
}

.contact {
    display: flex;
    background-color: rgb(219, 215, 209);
    margin-top: 5%;
}

.contact_form label {
    display: block;
    margin-bottom: 1.0rem;
    font-size: 1rem;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 0.7rem 0.9rem;
    border: 1px solid;
    border-radius: 2px;
    resize: vertical;
    background-color: whitesmoke;
}

.contact_form button {
    margin-top: 0.5rem;
}

.footer {
    text-align: center;
    padding: 3rem 6vw 4rem;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgb(185, 169, 169);
    margin-top: 5%;
}